<!-- Nav bar  -->
<app-navbar></app-navbar>

<!-- header section  -->
<section class="mt-6">
  <div class="relative">
    <form [formGroup]="SearchForm" (ngSubmit)="onSubmit()">
      <!-- {{query}} -->
      <input type="search" placeholder="Search DiFinder .." formControlName="query" value={{query}}
      class="pl-14 pr-4 text-xs rounded-full border form-control form-searchbox-home drop-shadow-sm border border-gray-200 focus:outline-none focus:border-gray-100 focus:ring-gray-100 focus:ring-0.5 focus:border-100 focus:bg-gray-50 transition duration-0 hover:duration-150"
      >
    </form>
    <div class="absolute inset-y-2 left-0 pl-7 cursor-pointer flex items-center text-sm leading-5">
      <span><i class="fa-solid fa-magnifying-glass text-gray-400"></i></span>
    </div>
  </div>


  <ul class="flex text-xs mt-5">
    <li class="text-underline text-xs border-default border-b-2 pb-3  pl-3 pr-3">All</li>
    <li class="text-xs pl-3 pr-3"><a href="https://google.com/search?q={{SearchForm.value.query}}" target="_blank">Google</a></li>
    <li class="text-xs pl-3 pr-3"><a href="https://bing.com/search?q={{SearchForm.value.query}}" target="_blank">Bing</a></li>
    <li class="text-xs pl-3 pr-3"><a href="https://duckduckgo.com/?q={{SearchForm.value.query}}" target="_blank">Duck Duck Go</a></li>
  </ul>


<!-- Search information -->
  <p class="text-gray-500 text-xs mt-3 mb-3" *ngIf="results.organic_results"> {{results.search_information.total_results.toLocaleString("en-US")}} results ({{results.search_information.time_taken_displayed}}) seconds</p>

  <p class="mt-10 text-xs" style="text-align:center;" *ngIf="isLoading">Loading...</p>
  <p class="mt-10 text-xs text-danger" style="text-align:center;" *ngIf="isError">An Error occured</p>
</section>



<!-- Results  -->
<section class="mt-1"  *ngIf="results.organic_results">
  <!-- Left aside  -->

  <div class="grid grid-cols-3  gap-4">
    <aside class="row-span-2 md:col-span-2 col-span-3 mb-4">

    <!-- Images -->
      <div class="" *ngIf="results.inline_images">
        <app-inlineimages [inlineImages]="results.inline_images" class="grid cols-3 grid-flow-col gap-4 mt-4 mb-4"></app-inlineimages>
      </div>

      <!-- {{results.answer_box.answers.answer}} -->
      <!-- Knowledge Graph  -->
      <app-knowledgegraph [knowledgeGraph]="results.knowledge_graph" *ngIf="results.knowledge_graph"></app-knowledgegraph>

      <!-- Answer Box  -->
      <app-answerbox [answerBox]="results.answer_box" *ngIf="results.answer_box?.answers.answer"></app-answerbox>

      <!-- Organic Result list  -->
      <!-- <app-resultlist> is a component that takes all the results, loops through it and returns a list of results -->
      <ul>
        <app-resultlist [results]="results.organic_results"></app-resultlist>
      </ul>



    </aside>


    <!-- Right Aside  -->
    <aside class="row-span-2  md:col-span-1 col-span-3">
     <!-- Related searches -->
      <div class="mb-4" *ngIf="results.related_searches">
        <p class="text-xs mb-5 pl-3">Related searches</p>
        <a
          *ngFor="let answer of results.related_searches; let index = index"
          [routerLink]="['/search']" [queryParams]="{query: answer.query}">
          <p
            (click)="onSubmit()"
            class="bg-white pt-5 pb-5 pr-3 pl-3 border-regulartext-500 text-regulartext rounded-full text-xs form-btn mb-3 mr-2 hover:bg-gray-100 transition duration-0 hover:duration-150">
           {{answer.query}}
        </p>
        </a>

      </div>



    </aside>
  </div>




</section>


<footer class="mt-10 pt-10 pb-10" style="text-align:center;">
 <!-- <p class="text-xs">Created by divine.er </p> -->
</footer>
