<nav class="mt-7 clearfix">

  <!-- Header logo  -->

  <a [routerLink]="['/']">
    <img src="/assets/header-logo.jpg" alt="logo" width="100" class="float-left mt-2">
  </a>


  <div class="float-right">
    <!-- Login Button  -->
    <button class="bg-white border border-regulartext-500 text-regulartext rounded float-right text-xs  drop-shadow-sm form-btn">
      <i class="fa-regular fa-user text-regulartext mr-2"></i> Login
    </button>

    <!-- Social Links -->
    <a href='https://twitter.com/Divine_Er' rel="noreferrer" target="_blank" >
      <span class='float-right mr-8 mt-1'> <i class="fa fa-brands fa-twitter text-gray-400"></i></span>
    </a>
    <a href='https://github.com/divinejoshua/difinder-angular'  rel="noreferrer" target="_blank" >
      <span class='float-right mt-1 mr-4'> <i class="fa fa-brands fa-github text-gray-400"></i></span>
    </a>
  </div>
</nav>
