<!-- Nav bar  -->
<app-navbar></app-navbar>

<!-- header section  -->
<section class="mt-6">
  <div class="relative">
    <form>
      <!-- {{query}} -->
      <input type="search" placeholder="Search DiFinder .." value={{query}}
      class="pl-14 pr-4 text-xs rounded-full border form-control form-searchbox-home drop-shadow-sm border border-gray-200 focus:outline-none focus:border-gray-100 focus:ring-gray-100 focus:ring-0.5 focus:border-100 focus:bg-gray-50 transition duration-0 hover:duration-150"
      >
    </form>
    <div class="absolute inset-y-2 left-0 pl-7 cursor-pointer flex items-center text-sm leading-5">
      <span><i class="fa-solid fa-magnifying-glass text-gray-400"></i></span>
    </div>
  </div>


  <ul class="flex text-xs mt-5">
    <li class="text-underline text-xs border-default border-b-2 pb-3  pl-3 pr-3">All</li>
    <li class="text-xs pl-3 pr-3"><a href="https://google.com/search?q={{query}}" target="_blank">Google</a></li>
    <li class="text-xs pl-3 pr-3"><a href="https://bing.com/search?q={{query}}" target="_blank">Bing</a></li>
    <li class="text-xs pl-3 pr-3"><a href="https://duckduckgo.com/?q={{query}}" target="_blank">Duck Duck Go</a></li>
  </ul>



  <p class="text-gray-500 text-xs mt-3"> 12,000,000 results (0.91) seconds</p>
</section>



<!-- Results  -->
<section class="mt-1">
  <!-- Left aside  -->

  <div class="grid grid-cols-3  gap-4">
    <aside class="row-span-2 md:col-span-2 col-span-3">
      <ul>
        <li class="hover:bg-gray-100 transition duration-0 hover:duration-150 p-2 rounded mt-4">
          <b class="text-bold text-sm text-blue-900">5 Ways to Convert a Value to String in JavaScript</b><br>
          <a href="https://google.com" class="text-xs mt-2"> https://www.mcdonalds.com/us/en-us.html</a>
          <p class="text-xs mt-2">Big Mac®, Filet-O-Fish®, & Quarter Pounder® With Cheese Included! At Part. McD. Types: Big Mac®, Filet-O-Fish®, Chicken McNuggets®, Quarter Pounder® Burger.</p>
        </li>

        <li class="hover:bg-gray-100 transition duration-0 hover:duration-150 p-2 rounded mt-4">
          <b class="text-bold text-sm text-blue-900">5 Ways to Convert a Value to String in JavaScript</b><br>
          <a href="https://google.com" class="text-xs mt-2"> https://www.mcdonalds.com/us/en-us.html</a>
          <p class="text-xs mt-2">Big Mac®, Filet-O-Fish®, & Quarter Pounder® With Cheese Included! At Part. McD. Types: Big Mac®, Filet-O-Fish®, Chicken McNuggets®, Quarter Pounder® Burger.</p>
        </li>

        <li class="hover:bg-gray-100 transition duration-0 hover:duration-150 p-2 rounded mt-4">
          <b class="text-bold text-sm text-blue-900">5 Ways to Convert a Value to String in JavaScript</b><br>
          <a href="https://google.com" class="text-xs mt-2"> https://www.mcdonalds.com/us/en-us.html</a>
          <p class="text-xs mt-2">Big Mac®, Filet-O-Fish®, & Quarter Pounder® With Cheese Included! At Part. McD. Types: Big Mac®, Filet-O-Fish®, Chicken McNuggets®, Quarter Pounder® Burger.</p>
        </li>
      </ul>


      <!-- Pagination buttons  -->
        <div class="mt-7 mb-5">
          <!-- Next Button  -->
        <button class="bg-white border border-regulartext-500 text-regulartext rounded text-xs  drop-shadow-sm form-btn">
          <i class="fa-solid fa-arrow-left text-regulartext mr-2"></i> Back
        </button>

        <button class="bg-white border border-regulartext-500 text-regulartext rounded text-xs  drop-shadow-sm form-btn ml-4">
          <i class="fa-solid fa-arrow-right text-regulartext mr-2"></i> Next
        </button>
      </div>


    </aside>


    <!-- Right Aside  -->
    <aside class="row-span-2  md:col-span-1 col-span-3">
     <!-- Related searches -->
      <div class="mb-4">
        <p class="text-xs mb-5">Related searches</p>
        <button class="bg-white border border-regulartext-500 text-regulartext rounded-full text-xs form-btn mb-3 mr-2 hover:bg-gray-100 transition duration-0 hover:duration-150">
          mcdonalds burger
        </button>
        <button class="bg-white border border-regulartext-500 text-regulartext rounded-full text-xs form-btn mb-3 mr-2 hover:bg-gray-100 transition duration-0 hover:duration-150">
          mcdonalds menu prices
        </button>
        <button class="bg-white border border-regulartext-500 text-regulartext rounded-full text-xs form-btn mb-3 mr-2 hover:bg-gray-100 transition duration-0 hover:duration-150">
          mcdonalds breakfast
        </button>
        <button class="bg-white border border-regulartext-500 text-regulartext rounded-full text-xs form-btn mb-3 mr-2 hover:bg-gray-100 transition duration-0 hover:duration-150">
          mcdonalds application
        </button>
        <button class="bg-white border border-regulartext-500 text-regulartext rounded-full text-xs form-btn mb-3 mr-2 hover:bg-gray-100 transition duration-0 hover:duration-150">
          mcdonalds wifi
        </button>
      </div>



      <!-- People also search for -->
      <div class="mt-5">
        <p class="text-xs mb-5">People also search for</p>
        <button class="bg-white border border-regulartext-500 text-regulartext rounded-full text-xs  form-btn mb-3 mr-2 hover:bg-gray-100 transition duration-0 hover:duration-150">
          Burger King
        </button>
        <button class="bg-white border border-regulartext-500 text-regulartext rounded-full text-xs  form-btn mb-3 mr-2 hover:bg-gray-100 transition duration-0 hover:duration-150">
          Wendy's
        </button>
        <button class="bg-white border border-regulartext-500 text-regulartext rounded-full text-xs form-btn mb-3 mr-2 hover:bg-gray-100 transition duration-0 hover:duration-150">
          Taco Bell
        </button>
        <button class="bg-white border border-regulartext-500 text-regulartext rounded-full text-xs form-btn mb-3 mr-2 hover:bg-gray-100 transition duration-0 hover:duration-150">
          Chick‑fil‑A
        </button>
        <button class="bg-white border border-regulartext-500 text-regulartext rounded-full text-xs form-btn mb-3 mr-2 hover:bg-gray-100 transition duration-0 hover:duration-150">
          KFC
        </button>
      </div>


    </aside>
  </div>




</section>


<footer class="mt-10 pt-10 pb-10" style="text-align:center;">
 <!-- <p class="text-xs">Created by divine.er </p> -->
</footer>
